h1 {
  text-align: center;
}
.steps {
}
img {
  width: 70%;
  outline: 3px solid black;
  outline-offset: 3px;
  display: flex;
  justify-content: center;
  margin: 10px 15%;
}
.container {
  display: flex;
  flex: 1;
  justify-content: center;
}
.steps {
}
strong {
  font-size: larger;
  display: inline-block;
}
.ingredients {
}
